In [1]:
#This is the material for Day 2 python 

import pandas as pd
import numpy as np
import matplotlib.pyplot as pit

In [2]:
house_df = pd.read_csv('Housing - Housing.csv')

In [3]:
house_df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
house_df['basement bool'] = house_df['basement'] == 'yes'

In [5]:
house_df['basement bool']

0      False
1      False
2       True
3       True
4       True
       ...
540     True
541    False
542    False
543    False
544    False
Name: basement bool, Length: 545, dtype: bool

In [7]:
house_df['guestroom bool'] = house_df['guestroom'] == 'yes'

In [8]:
house_df['airconditioning bool'] = house_df['airconditioning'] == 'yes'

In [9]:
#This means get the first 5 rows in the table
house_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,basement bool,guestroom bool,airconditioning bool
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished,False,False,True
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished,False,False,True
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished,True,False,False
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished,True,False,True
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished,True,True,True

In [10]:
pwd

'/Users/kiki/Developer/jupyter_notebook'

In [11]:
#the above 'pwd' will show the path in your directory

In [12]:
#This means get the last 5 rows in the table
house_df.tail()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus,basement bool,guestroom bool,airconditioning bool
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished,True,False,False
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished,False,False,False
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished,False,False,False
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished,False,False,False
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished,False,False,False

In [13]:
#np.where is simliar to excel if function (if condition, true value, false value)
house_df['basement'] = np.where(house_df['basement'] == 'yes', 1,0)
house_df['guestroom'] = np.where(house_df['guestroom'] == 'yes', 1,0)
house_df['airconditioning'] = np.where(house_df['airconditioning'] == 'yes', 1,0)

In [14]:
#compare all 3 values together
house_df['all three'] = np.where(house_df['basement']+house_df['guestroom']+house_df['airconditioning']==3, True, False)
house_df['all three']

0      False
1      False
2      False
3      False
4       True
       ...
540    False
541    False
542    False
543    False
544    False
Name: all three, Length: 545, dtype: bool

In [15]:
#About Booleans in Python....

False == False

True

In [16]:
#Python treats True as 1, so True + True = 1+1 = 2
True + True

2

In [17]:
#Python treats False as 0
False == 0

True

In [18]:
# the ^ in python is ** 
# so the below is (1+1)^2 = 2^2 = 4
(True+True)**2

4

In [19]:
house_df['price'] = house_df['price']*house_df['area']

In [20]:
house_df['price_to_area'] = house_df['price']/house_df['area']

In [21]:
house_df['price_to_area']

0      13300000.0
1      12250000.0
2      12250000.0
3      12215000.0
4      11410000.0
          ...
540     1820000.0
541     1767150.0
542     1750000.0
543     1750000.0
544     1750000.0
Name: price_to_area, Length: 545, dtype: float64

In [24]:
# Show the use of lambda function
house_df['area_evaluation'] = house_df['area'].apply(lambda x: 'large' if x > 5000 else 'small')
house_df['area_evaluation']

0      large
1      large
2      large
3      large
4      large
       ...
540    small
541    small
542    small
543    small
544    small
Name: area_evaluation, Length: 545, dtype: object

In [ ]:
# merge_data = pd.concat([subway_data, bus_data], ignore_index = True) <-- Join 2 tables together into 1 table
# merge_data.to_csv('merged_data') <-- export the data as a csv file